
body {


/*background: #8e9eab; !* fallback for old browsers *!*/
/*background: -webkit-linear-gradient(to right, #bacad7, #eef2f3); !* Chrome 10-25, Safari 5.1-6 *!*/
/*background: linear-gradient(to right, #bacad7, #eef2f3); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
background: #EFEFEF;
}

#header-logo-container {
    width: 100%;
}

#header-logo {
    max-height: 40px;
    display: block;
    margin: auto;
}

.navbar-brand-thumb {
    max-width: 25px;
}

/*--------------------    LOGIN      ---------------*/

#login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    /* background-color:rgba(255,255,255,.8);*/
}

#login-dp .help-block {
    font-size: 12px
}

#login-dp .bottom {
    background-color: rgba(255, 255, 255, .8);
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
}

#login-dp .social-buttons {
    margin: 12px 0
}

#login-dp .social-buttons a {
    width: 49%;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

.btn-fb {
    color: #fff;
    background-color: #3b5998;
}

.btn-fb:hover {
    color: #fff;
    background-color: #496ebc
}

.btn-gp {
    color: #fff;
    background-color: #dd4b39;
}

.btn-gp:hover {
    color: #fff;
    background-color: rgba(221, 75, 57, 0.85);
}

@media (max-width: 768px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }

    #login-dp .bottom {
        background-color: inherit;
        border-top: 0 none;
    }
}

/*---------------  CUSTOM NAVBAR BUTTONS  -------------------*/

ul.nav > li:hover {
    background-color: #FF3B3F !important;
}

ul.nav > li:hover > a {
    padding-top: 10px !important;
    background-color: #e7e7e7 !important;
    height: 45px;
    margin-top: 5px;
}

.navbar-default{
    border-color: #A9A9A9;
}

hr{
    border-color: #A9A9A9;
}