{% extends 'base.html' %}

{% block content %}

    <!-- code for displaying success or error message in template -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- Form rendering code for template -->
    <form action="" method="post">

        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="Submit"/>
    </form>


{% endblock %}