{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Collector{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Agustin Castro - Ignacio Rognoni">
    <link rel="icon" href="{% static 'images/book-thumb.png' %}">
    <!--Styles-->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome/css/font-awesome.css' %}" rel="stylesheet">

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Project specific CSS -->
    <link href="{% static 'css/general.css' %}" rel="stylesheet">
    <link href="{% static 'css/catalog.css' %}" rel="stylesheet">

    <link href="{% static 'css/social-icons.css' %}" rel="stylesheet">

</head>

<body>
<header>
    {% include "header.html" %}
</header>

<div id="content">
    {% block content %}{% endblock %}
</div>

<!-- javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<!-- project specific Javascript -->

</body>
</html>



