{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Collector{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Agustin Castro - Ignacio Rognoni">
    <link rel="icon" href="{% static 'images/book-thumb.png' %}">

</head>

<body>
<header>

</header>

<div id="content">
    {% block content %}{% endblock %}
</div>


</body>
</html>



