{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col-lg-4 col-xs-12">
            <img class="group list-group-image"
                 src="{{ object.image_url|default_if_none:"/media/book_images/no_image.png" }}" alt=""/>
            <ul class="list-inline thumbnail-gallery">
                {% for image in images %}
                    <li>
                        <img class="group list-group-image" src="/media/{{ image }}" alt=""/>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-lg-8 col-xs-12">
            <a class="btn btn-default" href="{% url 'edit_item' pk=object.pk %}"><span
                    class="glyphicon glyphicon-pencil"></span></a>
            <form action="{% url 'remove_item' pk=object.pk %}" method="post" style="display: inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </form>
            <h4>{{ object.name }}</h4>
            <h5>{{ object.author }}</h5>
            <p class="lead">{{ item.currency.symbol }} {{ item.price }}</p>
            <p>{{ object.description }}</p>
            <hr>
            <p>ISBN: {{ object.isbn }}</p>
            <p>Date aquired: {{ object.date_aquired | date:"F j, Y" }}</p>
            <p>Price: {{ object.currency.symbol }} {{ object.price }}</p>
            <p>Quantity: {{ object.quantity }}</p>
            <p>Category: {{ object.category.name }}</p>
        </div>
    </div>

{% endblock %}