{% load static %}

{% for item in items %}
    <div class="item  col-xs-3 col-lg-3">
        <div class="thumbnail">
            <img class="group list-group-image" src="{{ item.image_url|default_if_none:"/media/book_images/no_image.png" }}" alt=""/>
            <div class="caption">
                <h4 class="group inner list-group-item-heading">
                    <a href="/catalog/itemdetails/{{ item.pk }}">{{ item.name }}</a>
                </h4>
                <h5>{{ item.author }}</h5>
                <p class="group inner list-group-item-text">
                    {{ item.description | truncatechars:120 }}</p>
                <p class="group inner list-group-item-text">
                    ISBN: {{ item.isbn }}</p>
            </div>
        </div>
    </div>
{% endfor %}

{% if is_paginated %}
    <nav aria-label="Page navigation" class="text-center">
        <ul class="pagination pagination-lg">
            {% if page_obj.has_previous %}
                <li>
                    <a href="/catalog/?search_term={{ search_term }}&page={{ page_obj.previous_page_number }}"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            {% for i in range %}
                <li>
                    <a href="/catalog/?search_term={{ search_term }}&page={{ forloop.counter }}">{{ forloop.counter }}</a>
                </li>
            {% endfor %}

            {% if page_obj.has_next %}
                <li>
                    <a href="/catalog/?search_term={{ search_term }}&page={{ page_obj.next_page_number }}"
                       aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}